/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

body {
  width: 500px;
  margin: 0 auto;
}

.background {
  width: 500px;
  margin: 0 auto;
  background-image: url(sfondo.png);
  background-size: contain;
}

header {
  background-color: rgb(0, 136, 170);
  width: 250px;
  padding-block: 30px;
  margin-block: 20px;
  margin-inline: auto;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.705);
  background: linear-gradient(190deg, rgb(0, 136, 170));
  font-family: "Poppins", sans-serif;
}

div > p {
  color: white;
  text-align: center;
  font-size: 15px;
}

.my-list {
  list-style: none;
  line-height: 17px;
  color: white;
  text-align: center;
  font-size: 12px;
}

main {
  width: 250px;
  margin: 0 auto;
  text-align: left;
  background-color: white;
  padding-block: 20px;
  padding-inline: auto;
  font-family: "Poppins", sans-serif;
}

article h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding-inline: 15px;
}

.mario {
  font-size: 12px;
  padding-inline: 15px;
  font-weight: 300;
}

.p1 {
  font-size: 12px;
  padding-inline: 15px;
  font-weight: 400;
  line-height: 15px;
}

.p1 span {
  color: rgb(161, 8, 161);
}

.p2 {
  font-size: 12px;
  padding-inline: 15px;
  line-height: 15px;
}
.dot {
  padding-inline-start: 40px;
  padding-right: 20px;
}

ul li {
  font-size: 12px;
  line-height: 15px;
}

.my-span {
  background-color: rgba(211, 211, 211, 0.671);
  border-radius: 5px;
  outline: 0.1mm solid lightgrey;
}

.formattazione {
  font-size: 12px;
  padding-inline: 15px;
  line-height: 15px;
}

.p3 {
  font-size: 12px;
  padding-inline: 15px;
  line-height: 15px;
}

.p3 span {
  color: rgb(255, 0, 254);
}

ol {
  padding-inline-start: 40px;
  padding-right: 20px;
}

ol li {
  font-size: 12px;

  line-height: 15px;
}

.p4 {
  font-size: 12px;
  padding-inline: 15px;
  line-height: 15px;
}

caption {
  font-size: 13px;
  font-weight: bold;
}

table {
  text-align: center;
  display: inline-block;
  padding-inline: 15px;
}

.my-th {
  width: 25%;
  padding-block: 20px;
  padding-inline: 10px;
  border-inline: 0.1px solid rgba(255, 255, 255, 0.247);
}

.my-th2 {
  padding-inline: 10px;
}

.anno {
  background-color: rgb(51, 102, 204);
  color: white;
  font-weight: 100;
}

.td1 {
  padding-block: 20px;
  font-weight: 400;
}

.td2 {
  padding-block: 20px;
  background-color: rgba(211, 211, 211, 0.411);
}

.td3 {
  padding-block: 20px;
  font-weight: 400;
  border-bottom: 2px solid rgb(51, 102, 204);
}

.p5 {
  font-size: 12px;
  padding-inline: 15px;
  line-height: 15px;
}

.p5 a {
  color: rgb(0, 153, 204);
}

iframe {
  width: 220px;
  height: auto;
  margin-inline: 10px;
  border-radius: 30px;
}

section {
  font-size: 12px;
  padding-inline: 15px;
  padding-block: 15px;
  line-height: 15px;
  background-color: lightgray;
  margin-inline: 10px;
}

.novita {
  text-align: center;
  font-size: 20px;
}

fieldset {
  display: flex;
}

input {
  width: 130px;
  border-bottom: 0.5mm dashed;
  border-top: 0;
  border-inline: 0;
}

div button {
  color: white;
  background-color: rgb(51, 102, 204);
  display: flex;
  border-inline: 0;
  border-block: 0;
  margin-inline-start: 3px;
}

.articoli {
  text-align: center;
  font-size: 18px;
  padding-inline: 15px;
  line-height: 15px;
}

.validare {
  font-size: 12px;
  padding-inline: 15px;
  padding-block: 15px;
  line-height: 15px;
  background-color: lightgray;
  margin-inline: 10px;
  outline: 0.5mm solid rgba(128, 128, 128, 0.5);
}

.validare p {
  font-size: 10px;
  text-align: left;
  color: black;
}

.validare :nth-child(4) {
  font-size: 9px;
  text-align: right;
}

.validare a {
  color: rgb(0, 153, 204);
}

.correggere {
  font-size: 12px;
  padding-inline: 15px;
  padding-block: 15px;
  line-height: 15px;
  background-color: lightgray;
  margin-inline: 10px;
  outline: 0.5mm solid rgba(128, 128, 128, 0.5);
}

.correggere p {
  font-size: 10px;
  text-align: left;
  color: black;
}

.correggere :nth-child(4) {
  font-size: 9px;
  text-align: right;
}

.correggere a {
  color: rgb(0, 153, 204);
}

.meno {
  font-size: 12px;
  padding-inline: 15px;
  padding-block: 15px;
  line-height: 15px;
  background-color: lightgray;
  margin-inline: 10px;
  outline: 0.5mm solid rgba(128, 128, 128, 0.5);
}

.meno p {
  font-size: 10px;
  text-align: left;
  color: black;
}

.meno :nth-child(4) {
  font-size: 9px;
  text-align: right;
}

.meno a {
  color: rgb(0, 153, 204);
}

footer {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(0, 85, 102);
  padding-block: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  line-height: 15px;
  border: 10px;
  margin-block: 20px;
  color: white;
  font-weight: 200;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
  background: linear-gradient(182deg, rgb(0 85 102), rgb(30 45 27));
}

footer a {
  color: rgb(248, 17, 228);
  font-weight: 400;
  font-size: 11px;
}
